[push]
	default = current
[user]
	name = Brad
	email = bradley.frank@gmail.com
[core]
	excludesfile = /Users/bfrank/.gitignore
	editor = vim
[alias]
  mylog = "log --oneline --decorate --graph --all"
  brch = rev-parse --abbrev-ref HEAD
  fp = push --set-upstream origin brch
  lc = rev-parse --verify HEAD
  sb = status -sb
[pager]
  diff = diff-so-fancy | less --tabs=1,5 -RFX
  show = diff-so-fancy | less --tabs=1,5 -RFX
