[submodule "bash/.bash-git-prompt"]
	path = bash/.bash-git-prompt
	url = https://github.com/magicmonty/bash-git-prompt.git
[submodule "bin/.local/bin"]
	path = bin/.local/bin
	url = https://github.com/bradleyfrank/bins.git
