"*":
  "autocomplete-python":
    useKite: false
  core:
    openEmptyEditorOnStart: false
    projectHome: "/Users/bfrank/Development"
    telemetryConsent: "limited"
    themes: [
      "one-light-ui"
      "one-light-syntax"
    ]
    titleBar: "custom-inset"
  editor:
    fontFamily: "Source Code Pro"
    tabType: "soft"
  "exception-reporting":
    userId: "3b2e450f-d74e-4c11-b22e-4f9ed09a6992"
  "linter-shellcheck":
    shellcheckExecutablePath: "/usr/local/bin/shellcheck"
  "linter-ui-default":
    alwaysTakeMinimumSpace: true
    hidePanelWhenEmpty: true
    showPanel: true
    statusBarPosition: "Right"
  welcome:
    showOnStartup: false
