#!/bin/bash

alias bw="bitwise --no-color"
alias condense='grep -Erv "(^#|^$)"'
alias e='extract'
alias ekans='. /usr/local/anaconda3/bin/activate'
alias fuck='sudo $(fc -ln -1)'
alias glances='glances --theme-white'
alias groot='cd $(git rev-parse --show-toplevel)'
alias isodate='date --iso-8601=seconds'
alias ll='ls -l --color --classify --human-readable'
alias l1='ls -1 --color --classify --human-readable'
alias lg='ls -Gg --color --classify --human-readable'
alias la='ls -la --color --classify --human-readable'
alias lt='ls -1AS --color --classify --human-readable --group-directories-first --size'
alias lsmnt='mount | column -t'
alias pipi='python3 -m pip install --user'
alias please='sudo'
alias pping='prettyping'
alias pubip='dig myip.opendns.com @resolver1.opendns.com'
alias rcp='rsync -a --info=progress2'
alias sane='stty sane'
alias scp='rsync -va'
alias wget='wget -c'