PATH="/usr/local/sbin:/usr/local/bin:$PATH"
PATH="$HOME/.local/bin:$HOME/bin:$PATH"
%% path_rbenv
%% mac_path_anaconda
%% mac_path_brewgnu
export PATH

MANPATH="$HOME/.local/share/man:/usr/local/share/man:/usr/share/man"
%% mac_manpath_brewgnu
export MANPATH

%% source_profiled

export _PS1_THEME="default"

if [[ -f "$HOME/.bashrc" ]]; then . "$HOME/.bashrc"; fi
