PATH="/usr/local/sbin:/usr/local/bin:$PATH"
PATH="$HOME/.local/bin:$HOME/bin:$PATH"
%% mac_path_anaconda
%% mac_path_brewgnu
export PATH

MANPATH="$HOME/.local/share/man"
%% mac_manpath_brewgnu
%%

%% update_dotfiles
%%
if [[ -f "$HOME/.bashrc" ]]; then . "$HOME/.bashrc"; fi
